# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
**/node_modules
.pnp
.pnp.js

# Build outputs
dist
dist-ssr
*.local
**/dist
build

# TypeScript
*.tsbuildinfo
**/*.tsbuildinfo
.tmp
**/node_modules/.tmp

# Testing
coverage
*.lcov
.nyc_output

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local
.env.*.local

# Backups
*.backup

# OS
Thumbs.db
